.toggle {
  background-color: var(--accentColorNormal);
  transition: background-color 0.15s;

  &:hover {
    background-color: var(--accentColorNormal-hover);
  }

  &:active {
    background-color: var(--accentColorNormal-pressed);
  }

  &.selected {
    background-color: var(--accentColorLight);

    img {
      filter: brightness(1.2);
    }
  }

  img {
    width: 100%;
    height: 100%;
    transition: filter 0.15s;
  }
}
